@media screen and (min-width: 1000px) {
  #page-wrapper-root {
    height: 100vh;

    /* display: flex;
    flex-direction: row; */

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  #social-button {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
  }

  .page-container {
    display: inline-block;
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 500px) {
  #page-wrapper-root {
    width: 100vw;

    /* display: flex;
    flex-direction: row; */

    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .page-container {
    width: 100vw;
    height: 100vh;
  }
}
