.intro {
  width: 100vw;
  display: block;
  height: 100vh;
  overflow: hidden;
}

#intro-center-rock-background {
  /* background-image: url("../../assets/about-bg.svg");
  background-size: cover;
  background-repeat: no-repeat; */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  z-index: 0;
}

#intro-center-rock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 70%;
  z-index: 1;
}

.zoomAboutPage {
  width: 100vw;
  display: block;
  height: 100vh;
  overflow: hidden;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

#intro-video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#intro-video-zoom {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#intro-video2 {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 100vw;
  z-index: 100;
  justify-content: space-between;
  z-index: 2;
}

.kklogo {
  margin-top: 20px;
  margin-left: 20px;
  z-index: 2;
}

.emailTwitter {
  margin-top: 20px;
  margin-right: 20px;
  z-index: 2;
}

.emailLogo {
  /* margin-bottom: 10px; */
  width: 45%;
  /* height: 77px; */
  margin-bottom: 5%;
}

.twitterLogo {
  width: 55%;
}

.content {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  display: flex;
  z-index: 2;
}

.title {
  z-index: 1000;
  text-align: center;
  width: 100vw;
  margin-top: 27%;
  margin-bottom: 0;
  font-family: SFUFuturaBold;
  font-size: 15vh;
  /* background: linear-gradient(
    0deg,
    #ffffff 47.23%,
    rgba(255, 255, 255, 0.5) 94.32%
  ); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
  text-shadow: -4px -4px 4px rgba(255, 255, 255, 0.4),
    3px 3px 33px rgba(105, 129, 162, 0.2);
  letter-spacing: 1.165em;
  display: inline-block;
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: #444444; */
  background: linear-gradient(
    90deg,
    #ffffff 47.23%,
    rgba(255, 255, 255, 0.5) 94.32%
  );
  color: white;
  -webkit-text-stroke: 1px transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title::first-letter {
  margin-left: 1.165em;
}

.mainContent {
  position: absolute;
  top: 90%;
  left: 4.5%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  float: right;
  margin-left: 58vw;
  font-style: normal;
  z-index: 2;
  text-transform: uppercase;
  margin-top: 1%;
  margin-bottom: 50px;
}

.wrapButton {
  /* position: absolute;
  right: 60%; */
  display: flex;
  /* margin-left: 50vw; */
}

#button {
  font-family: MontserratBold;
  z-index: 2;
  width: 8vw;
  height: 6vh;
  background-color: #ffd953;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  font-weight: bold;
  font-size: 80%;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.195em;
  text-transform: uppercase;
}

.rockLandingPage {
  position: absolute;
  display: flex;
  /* background-color: black; */
  float: right;
  margin-left: 58vw;
  width: 25%;
  height: 85%;
  top: 20%;
  right: 38%;
}

@font-face {
  font-family: "SFUFuturaBold";
  src: local("SFUFuturaBold"),
    url(../../assets/fonts/SFU/SFUFuturaBold.TTF) format("woff");
}

@font-face {
  font-family: "SFUFuturaRegular";
  src: local("SFUFuturaRegular"),
    url(../../assets/fonts/SFU/SFUFuturaRegular.TTF) format("woff");
}

@font-face {
  font-family: "MontserratRegular";
  src: local("MontserratRegular"),
    url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf) format("woff");
}

@font-face {
  font-family: "MontserratBold";
  src: local("MontserratBold"),
    url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf) format("woff");
}
