#investor-root-container {
  /* background-image: url("../../assets/investor-bg.svg");
  background-size: contain;
  background-repeat: no-repeat; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
}

#investor-rocks-layer {
  z-index: 2;

  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#investor-rock4 {
  width: 20%;
  margin-left: -10%;
  margin-top: -10%;
  animation: investor-rock4-animation 4s infinite linear both;
}

@keyframes investor-rock4-animation {
  from {
    transform: rotate(0deg) translate(-0%, -10%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-0%, -10%) rotate(-360deg);
  }
}

#investor-rock5 {
  width: 10%;
  height: 10%;
  margin-right: -10%;
  margin-top: -5%;

  animation: investor-rock5-animation 4s infinite linear alternate;
}

@keyframes investor-rock5-animation {
  from {
    transform: translateY(-20%) rotate(0deg) translateX(10%) rotate(0deg)
      scale(1);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(10%) rotate(-360deg)
      scale(1.3);
  }
}

#infoContainer {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#titleText {
  margin-top: 2%;
  font-size: xx-large;
  text-align: center;
}

#subtitleText {
  width: 30%;
  text-align: center;
  font-weight: 400;

  letter-spacing: -0.01em;
}

#largeTitle {
  position: absolute;
  bottom: 0;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 135px;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: linear-gradient(
    75.27deg,
    #7c7d7f -24.99%,
    #c3c4c6 14.72%,
    #9ea0a3 57.04%,
    #cbccce 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#investor-video {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}
